/* start with div hidden */
#glossary {
    display: none;
}

.term-div a {
    text-decoration: none;
    color: #bbb;
}

.term-div a:hover {
    color: #fff;
}

.term-div .definition {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 125%;
}

.term-div {
    padding: 0px 30px;
    float: left;
}