/*adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav*/

.sidenav {
    height: 0;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 40px;
    left: 10px;
    background-color:rgba(10,10,10,0.8);
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 10px;
}

.sidenav a {
    padding: 8px 8px 0px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.5s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    margin-left: 50px;
}

.collapse-sidenav {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}