body {
    background-image: url('/static/images/assault.png');
}

#dateloc-form-cancel, #datetime-form-group, #dateloc-info, #error {
    display: none;
}

td.info-table-name {
    font-weight: 700;
}

.info-table {
    margin-bottom: 10px;
}

.btn {
    color: black;
}

/* to make form inputs not so darn bright */
input.form-control {
    background-color: #333;
    color: #eee;
}

input[type:radio] {
    background-color: #333;
}

p.definition {
    font-size: 110%;
}
