/* let overflow constellations spill into margins */
svg {
    overflow: visible;
}

/* make sure our constellation groups recognize mouseover events */
g.constellation-group {
    pointer-events: all;
}

.constellation-bounds {
    stroke: #009;
    stroke-width: 1;
    fill-opacity: 0;
}

.constellation-line {
    stroke: #333;
    stroke-width: 2;
    fill-opacity: 0;
}

/* info divs */
text.sky-label {
    pointer-events: none; /* let mouse events pass through */
    opacity:0;
    fill: #fff;
}

text.star-label {
/*    stroke: #777;
*/}

text.planet-label {
    /*stroke: #228;*/
}

text.constellation-label {
    opacity: 1;

}

/*.const-name {
    pointer-events: none;
    text-anchor: middle;
}
*/

#error {
    margin-top: 10px;
    display: none;
}

#datetime-selector {
    display: none;
    margin-bottom: 10px;
}

#reveal-planets {
    margin: 10px;
}

#starfield-controls {
    display: none;
}

#celestial-info {
    border: 2px solid black;
    padding: 10px;
    display: none;
}

h1#celestial-name-value, h4#celestial-type-value {
    text-align: center;
}

.star, .planet, .lit-moon, .planet-highlight {
    pointer-events: none;
}
