/* let overflow constellations spill into margins */
svg {
    overflow: visible;
}

/* make sure our constellation groups recognize mouseover events */
g.constellation-group {
  pointer-events: all;
}

/* constellation names */
text.const-name {
    fill: #fff;
}

/* star info divs */
div.star-info {
    background-color: #777;
    color: #fff;
    position: absolute;
    pointer-events: none; /* let mouse events pass through */
    opacity:0;
    padding: 2px;
}

.const-name {
    pointer-events: none;
    text-anchor: middle;
}

#location-params {

}

