/* let overflow constellations spill into margins */
svg {
    overflow: visible;
}

/* make sure our constellation groups recognize mouseover events */
g.constellation-group {
    pointer-events: all;
}

.constellation-bounds {
    stroke: #009;
    stroke-width: 1;
    fill-opacity: 0;
}

.constellation-line {
    stroke: #333;
    stroke-width: 2;
    fill-opacity: 0;
}

/* info divs */
text.sky-label {
    pointer-events: none; /* let mouse events pass through */
    opacity:0;
    fill: #fff;
}

text.constellation-label {
    opacity: 1;

}

.term:hover {
    color: #fff;
    cursor: pointer;
}

#error {
    margin-top: 10px;
}

div.info {
    border: 2px solid #bbb;
    padding: 10px;
    margin: 10px;
}

.star, .planet, .lit-moon, .planet-highlight {
    pointer-events: none;
}

td.info-table-name {
    font-weight: 700;
}

#planet-warning {
    font-style: italic;
    opacity: 0.7;
}

#master-info-div, #dateloc-form-cancel, #datetime-form-group, #error,
.compass-rose {
    display: none;
}

.info-table {
    margin-bottom: 10px;
}

.btn {
    color: black;
}

/* to make form inputs not so darn bright */
input.form-control {
    background-color: #333;
    color: #eee;
}

input[type:radio] {
    background-color: #333;
}


body {
    font-family: 'Lato', sans-serif;
    background-image: url('/static/images/assault.png');
    color: #bbb;
}

h3 {
    font-family: 'Forum', cursive;
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.compass-letter {
    font-family: 'Cinzel Decorative', cursive;
    color: white;
}

.compass-rose {
    cursor: pointer;
}

svg.star-circle {
    padding-top: 15px;
}

p.definition {
    font-size: 110%;
}

.item-surround {
    cursor: pointer;
}
