<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel='stylesheet'
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/css/stars.css'>
  <script src='https://d3js.org/d3.v4.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/2.2.0/topojson.min.js"></script>
  <script src='https://code.jquery.com/jquery.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Forum|Lato" rel="stylesheet"> 
  <link href="/static/css/sidenav.css" rel="stylesheet"> 

  {% block head %}
  {% endblock %}

</head>
<body>

    <!-- side nav bar -->
    <div id="main-sidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>

    <span id='hamburger' class='collapse-sidenav' onclick="openNav()">&#9776;</span>
    <!-- end side nav bar -->

    <div class='container-fluid'>
        {% block content %}
        {% endblock %}
    </div>

    <script type='text/javascript' 
          src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/static/js/sidenav.js'></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>