  <script type='text/javascript' src='/static/js/star-page-control.js'></script>
  <script type='text/javascript' src='/static/js/geocode.js'></script>
  <script type='text/javascript' src='/static/js/d3/sky.js'></script>
  <script type='text/javascript' src='/static/js/d3/constellations.js'></script>
  <script type='text/javascript' src='/static/js/d3/stars.js'></script>
  <script type='text/javascript' src='/static/js/d3/solarsystem.js'></script>
  <script type='text/javascript' src='/static/js/d3/d3-main.js'></script>
  <script type='text/javascript' src='/static/js/d3/compass-rose.js'></script>
