<div id='glossary' class='container-fluid tab-div'>
  <div class='row'>
    <div class='col-xs-12'>

    <h1 class='home'>Glossary</h1>

    {% for term in sorted_terms %}
        {% if term != 'compass' %}
            <div class='term-div'>
                <div class='glossary-term'>
                    <h3>{{ term }}</h3>
                </div>
                <div class='definition'>{{ terms[term]['definition'] }}</div>
            </div>
        {% endif %}
    {% endfor %}

    </div>
  </div>
</div>