<div id='star-map' class='container-fluid tab-div'>
  <div class='row'>
    <div id='star-field' class='col-xs-12 col-md-6 col-lg-8'>

    </div>
    <div id='controls' class='col-xs-12 col-md-6 col-lg-4'>
      <div class='dateloc-form-container'></div>
      <div id='master-info-div'>
        <div id='dateloc-info' class='info'>
          <div class='info-header'></div>
          <table class='table table-responsive table-condensed info-table'></table>
          <div class='text-center'><button id='dateloc-change-btn' class='btn'>Change</button></div>
        </div>
        <div id='starfield-controls' class='info'>
          <div class="checkbox">
            <label><input type="checkbox" class='reveal' value="" id='ecliptic-toggle'>Reveal</label> <span class='term'>ecliptic</span>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class='reveal' value="" id='planet-toggle' disabled='disabled'>Highlight planets</label> <span id='planet-warning'>(No time/place selected)</span>
          </div>
        </div>
        <div id='celestial-info' class='info'>
          <div class='info-header'>
            <h4 id='celestial-div-instructions' class='text-center'>Click a sky object for more information.</h4>
          </div>
          <table class='table table-responsive table-condensed info-table'></table>
        </div>
        <div id='celestial-definitions' class='info'><h4 id='celestial-term-instructions' class='text-center'>Click a word for the definition.</h4>
        </div>
      </div>
    </div>
  </div>
</div>